@model CourseCreateInput;
@{
    ViewData["Title"] = "Create";
}



<div class="row">
    @if (ViewBag.Message is not null)
    {
        <label class="text-danger">@ViewBag.Message</label>
    }
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Kurs ekleme</h5>

                <form asp-controller="Courses" asp-action="Create" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly"></div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="CategoryId"></label>
                        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.categoryList">
                            <option value="">kategori seçiniz</option>
                        </select>

                        <span class="text-danger" asp-validation-for="CategoryId"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Name"></label>
                        <input class="form-control" asp-for="Name" />
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Price"></label>
                        <input class="form-control" asp-for="Price" />
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Description"></label>
                        <textarea class="form-control" asp-for="Description"></textarea>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" asp-for="Feature.Duration"></label>
                        <input class="form-control" asp-for="Feature.Duration" />
                        <span class="text-danger" asp-validation-for="Feature.Duration"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Kurs Kaydet</button>

                </form>
            </div>
        </div>
    </div>
</div>
